.background {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
}

.site-title{
    background-color: #4aaaa5;
    color:white;
    text-align: left;
    font-size: 30px;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin-left: 200px;
}

.nav-links {
    margin-left: 960px;
    display: inline-block;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #777777;
    padding-left: 7px;
    padding-right: 7px;
}

.nav-bar {
    background-color: #ffffff;
    padding-top: 20px ;
    border-bottom: solid #cccccc;
    border-width: 1.5px;
}

.content-box {
    background-color: #ffffff;
    border: solid #dddddd;
    border-width: 1px;
    padding: 30px;
    width: 960px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: #777777;
}


.img {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 20px;
}

.content-title {
    color: #4aaaa5;
    border-bottom: solid #cccccc;
    padding-bottom: 20px;
}




.all-content {
    margin-left: 20%;
    margin-right: 20%;
}


