.background {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
    background-repeat: repeat;
}

.nav-bar {
    
}

/* 
.title{
    background-color: #4aaaa5;
    padding: 20px;
    color:white;
    float: left;
    text-align: center;
    margin-top: 0;
    position: fixed;
    z-index: initial; */
}

.all-content {
    margin-left: 20%;
    margin-right: 20%;
}



/* .main-content {
    position: absolute;
} */


/* 

color: #777777;
height: 65px; */