.background {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png);
}

.nav-bar {
    background-color: #ffffff;
    padding-top: 20px ;
    padding-bottom: 20px;
    padding-right: 20%;
    text-align: right;
    border-bottom: solid #cccccc;
    border-width: 2px;
}

.content-box {
    background-color: #ffffff;
    border: solid #dddddd;
    border-width: 1px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #777777;
    padding-left: 7px;
    padding-right: 7px;
}

.img {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 20px;
}

.content-title {
    color: #4aaaa5;
    border-bottom: solid #cccccc;
    padding-bottom: 20px;
}

/* 
.title{
    background-color: #4aaaa5;
    padding: 20px;
    color:white;
    float: left;
    text-align: center;
    margin-top: 0;
    position: fixed;
    z-index: initial; */
}

.all-content {
    margin-left: 20%;
    margin-right: 20%;
}



/* .main-content {
    position: absolute;
} */


/* 

color: #777777;
height: 65px; */